@{
  Layout = "_Layout";
}
@model MissionLog.Models.Mission

<h3>Add a manifest to this mission: @Html.DisplayFor(model => model.MissionName)</h3>
<br>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MissionId)

  @Html.Label("Select Manifest")
  @Html.DropDownList("ManifestId")

  <input type="submit" value="Save" class="btn btn-outline-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", new { id = Model.MissionId}, new {@class="btn btn-outline-primary btn-sm"})</p>