@{
  Layout = "_Layout";
}

@model MissionLog.Models.Mission;

<h4>Add a new mission</h4>

@using (Html.BeginForm())
{
    @Html.Label("Mission Name")
    <br>
    @Html.TextBoxFor(model => model.MissionName, new {@required="required"})
    <br><br>
    @Html.Label("Description")
    <br>
    @Html.TextBoxFor(model => model.MissionDescription, new {@required="required"})
    <br><br>
    
    @* @Html.Label("Select Mission")
    @Html.DropDownList("MissionId") *@
    
    @* @Html.Label("Select Ship")
    @Html.DropDownList("ShipId") *@

    <br><br>
    <input type="submit" value="Add New Mission" class="btn btn-light btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-light btn-sm"})</p>