@{
  Layout = "_Layout";
}
@model MissionLog.Models.Mission

<h2>Edit</h2>

<h4>Edit this Mission: @Html.DisplayFor(model => model.MissionName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MissionId)

  @Html.LabelFor(model => model.MissionName)
  @Html.EditorFor(model => model.MissionName)

  <input type="submit" value="Save" class="btn btn-light btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.MissionId}, new {@class="btn btn-light btn-sm"})</p>
