@{
  Layout = "_Layout";
}

@model MissionLog.Models.Ship
  <div class="row">
    <div class="col-sm">
      <br><br>
<h2>Add a manifest </h2>
<hr>  

<h4>@Html.DisplayFor(model => model.ShipName)</h4>
<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ShipId)

  @Html.Label("Select Manifest")<br>

  @Html.DropDownList("ManifestId", null, new {@class="form-control"})<br>

  <input type="submit" value="Save" class="btn btn-outline-success btn-block btn-sm"/>
}
<br>
<p>@Html.ActionLink("back", "Index", null, null, new {@class="btn btn-light btn-sm"})</p>

    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">

    </div>
  </div>