@{
  Layout = "_Layout";
}
@model MissionLog.Models.Ship

<h2>Edit</h2>

<h4>Edit this Ship: @Html.DisplayFor(model => model.ShipName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ShipId)

  @Html.LabelFor(model => model.ShipName)
  @Html.EditorFor(model => model.ShipName)

  <input type="submit" value="Save" class="btn btn-light btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.ShipId}, new {@class="btn btn-outline-light btn-sm"})</p>