@{
  Layout = "_Layout";
}
@model MissionLog.Models.Manifest

<h3>Add a mission to this manifest: @Html.DisplayFor(model => model.ManifestTitle)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ManifestId)

  @Html.Label("Select Mission")
  @Html.DropDownList("MissionId")

  <input type="submit" value="Save" class="btn btn-outline-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.ManifestId}, new {@class="btn btn-outline-primary btn-sm"})</p>